<!DOCTYPE html>
<html data-app-id="<%- app_id %>" data-access-token="<%- access_token %>">
<head>
  <meta charset="utf-8">
  <title><%- title %></title>
  <link rel="stylesheet" href="/css/todos.css">
  <link rel="stylesheet" href="/main.css">
</head><body>
  <div id="container"><%- body %></div>
</body></html>
